body {
	font-family: 'Open Sans Condesed';
}

.progress-bar-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

p {
	font-size: 2rem;
	margin: 0.3rem;
}

progress {
	border-radius: 7px;
	width: 40%;
	height: 22px;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
/* progress::-webkit-progress-bar {
	background-color: yellow;
	border-radius: 7px;
}
progress::-webkit-progress-value {
	background-color: blue;
	border-radius: 7px;
	box-shadow: 1px 1px 5px 3px rgba(255, 0, 0, 0.8);
} */
